<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Votre image de rêve{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('glb') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
